<% include ../partials/header %>
<div class="jumbotron">
    <h1 class="display-3">Northwinds Database
    </h1>
    <p class="lead">Web application for northwind database management</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/product" role="button">Let's get start</a>
    </p>
</div>
<% include ../partials/footer %>